.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.word-wrap {
  word-break: break-all;
}
.no-wrap {
  white-space: nowrap;
}
.fixed {
  table-layout: fixed;
}

.button {
  background-color: transparent;
  border: none;
}

.containerP {
  position: relative;
  width: 100%;
}

.profile-picture {
  opacity: 1;
  display: block;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.containerP:hover .profile-picture {
  opacity: 0.35;
}

.button-wrapper {
  position: relative;
  text-align: center;
}

.button-wrapper span.label {
  position: relative;
  z-index: 0;
  display: inline-block;
  width: 100%;
  background: #282c34;
  color: #96bdc4;
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 12px;
}

#upload {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  z-index: 1;
  width: 18%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  margin-left: 41%;
  margin-top: 1%;
}
